@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
*{
    /* align-items: center; */
    box-sizing: border-box;
}

body{
    background-image: url(./img.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1{
    font-family: 'Square Peg', cursive;
    font-size: 70px;
    margin: 0;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.cd-e{
    text-align: center;
}

.cd-e span{
    font-size: 1.5rem;
}